@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

$background_color: #1e1e1e;
$card_background_color: #f6f8fb;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Radio Canada Big", sans-serif;
}

main {
  height: 100vh;
  background-color: $background_color;
  display: flex;
  align-items: center;
  justify-content: center;
  div.container {
    width: 335px;
    height: 454px;
    background-color: $card_background_color;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 16px;
    gap: 24px;
    img {
      width: 295px;
      height: 166px;
    }
    p {
      font-family: "Source Serif 4", serif;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: -3%;
      line-height: 120%;
      color: #000000;
      margin: 12px 0 24px;
    }
    button {
      font-family: "Geist Mono", monospace;
      color: #ffffff;
      background-color: #000000;
      width: 295px;
      height: 38px;
      font-size: 14px;
      font-weight: 500;
    }
    h2 {
      font-size: 18px;
      color: #000000;
      letter-spacing: -2%;
      font-weight: 500;
    }
    @media screen and (min-width: 980px) {
      width: 980px;
      height: 320px;
      gap: 40px;
      flex-direction: row;
      img {
        width: 498px;
        height: 280px;
      }
    }
  }
}
